<h2>New Post</h2>

<% if @current_user %>
  <%= form_with model: @post do |form| %>
    <div class="mb-3">
      <%= form.label "body", class: "form-label" %>
      <%= form.text_field "body", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "image", class: "form-label" %>
      <%= form.text_field "image", class: "form-control" %>
    </div>

    <%= form.submit "Create Post", class: "btn btn-primary" %>
  <% end %>
<% else %>
  You must first <a href="/sessions/new">login</a> to post.
<% end %>
